[submodule "blog/themes/shalom-olam-hugo-theme"]
	path = blog/themes/shalom-olam-hugo-theme
	url = C:\\Users\\Lior\\Desktop\\Coding Stuff\\JavaScript\\shalom-olam-hugo-theme
[submodule "style/fomantic-ui"]
	path = style/fomantic-ui
	url = https://github.com/fomantic/Fomantic-UI.git
